# Allow user-space access to backlight and SPI devices for PPHC
ACTION=="add", SUBSYSTEM=="backlight", KERNEL=="backlight2", RUN+="/bin/chmod 0666 /sys/class/backlight/backlight2/brightness"
ACTION=="change", SUBSYSTEM=="backlight", KERNEL=="backlight2", RUN+="/bin/chmod 0666 /sys/class/backlight/backlight2/brightness"
ACTION=="add", SUBSYSTEM=="backlight", KERNEL=="backlight2", RUN+="/bin/chmod 0666 /sys/class/backlight/backlight2/max_brightness"
ACTION=="change", SUBSYSTEM=="backlight", KERNEL=="backlight2", RUN+="/bin/chmod 0666 /sys/class/backlight/backlight2/max_brightness"
ACTION=="add", SUBSYSTEM=="spidev", KERNEL=="spidev0.0", MODE="0666"
ACTION=="change", SUBSYSTEM=="spidev", KERNEL=="spidev0.0", MODE="0666"
